In [1]:
import numpy as np
import pandas as pd

In [2]:
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq

In [58]:
all_url = []
for i in range(1,4):
    my_url = f"https://books.toscrape.com/catalogue/category/books_1/page-{i}.html"
    uClient = uReq(my_url)
    page_html = uClient.read()
    uClient.close()
    all_url.append(page_html)

In [63]:
container = soup(page_html, "html.parser")

In [67]:
con = container.find_all("ol", { "class": "row"})

In [70]:
view_content = con[0].find_all("li",{"class":"col-xs-6 col-sm-4 col-md-3 col-lg-3"})
len(view_content)

20

In [73]:
for content in view_content:
    product_name = content.find_all("p", {"class": "price_color"})
    print(product_name[0].text)

£57.31
£26.41
£47.61
£23.11
£45.07
£31.77
£50.27
£14.27
£44.18
£18.78
£25.52
£16.28
£31.12
£19.49
£17.27
£19.09
£56.13
£56.41
£56.50
£45.22

In [75]:
for content in view_content:
    product_name = content.find_all({"h3"})
    for tag in product_name:
        titles = [ta.text.strip() for ta in tag.find_all('a')]
        # Display the result
        for title in titles:
            print(title)

Slow States of Collapse: ...
Reasons to Stay Alive
Private Paris (Private #10)
#HigherSelfie: Wake Up Your ...
Without Borders (Wanderlove #1)
When We Collided
We Love You, Charlie ...
Untitled Collection: Sabbath Poems ...
Unseen City: The Majesty ...
Unicorn Tracks
Unbound: How Eight Technologies ...
Tsubasa: WoRLD CHRoNiCLE 2 ...
Throwing Rocks at the ...
This One Summer
Thirst
The Torch Is Passed: ...
The Secret of Dreadwillow ...
The Pioneer Woman Cooks: ...
The Past Never Ends
The Natural History of ...

In [78]:
for content in view_content:
    rating = content.find('p', class_='star-rating')
    # Get the second class, which is the rating
    rating_class = rating.get('class')[1]
    print(rating_class)

Three
Two
Five
Five
Two
One
Five
Four
Four
Three
One
One
Three
Four
Five
One
One
One
Four
Three

In [74]:
for content in view_content:
    product_name = content.find_all("p", {"class": "instock availability"})
    print(product_name[0].text)

        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock

# SCRAPING MULTIPLE PAGES AT ONCE

In [91]:
price = []
all_title = []
all_rating = []
all_stock = []
for i in range(1,4):
    my_url = f"https://books.toscrape.com/catalogue/category/books_1/page-{i}.html"
    uClient = uReq(my_url)
    page_html = uClient.read()
    uClient.close()
    container = soup(page_html, "html.parser")
    con = container.find_all("ol", { "class": "row"})
    view_content = con[0].find_all("li",{"class":"col-xs-6 col-sm-4 col-md-3 col-lg-3"})
    for content in view_content:
        product_name = content.find_all("p", {"class": "price_color"})
        price.append(product_name[0].text)
        
    for product in view_content:
        product_name = product.find_all({"h3"})
        for tag in product_name:
            titles = [ta.text.strip() for ta in tag.find_all('a')]
            # Display the result
            for title in titles:
                all_title.append(title)
                
    for rating in view_content:
        rating_ = rating.find('p', class_='star-rating')
        # Get the second class, which is the rating
        rating_class = rating_.get('class')[1]
        all_rating.append(rating_class)
        
        
    for stock in view_content:
        product_name = stock.find_all("p", {"class": "instock availability"})
        all_stock.append(product_name[0].text)

In [92]:
df = pd.DataFrame({"Title":all_title, "Price":price,"Rating":all_rating,"Stock":all_stock})

In [93]:
df.head()

,Title,Price,Rating,Stock
0,A Light in the ...,£51.77,Three,\n\n \n In stock\n \n
1,Tipping the Velvet,£53.74,One,\n\n \n In stock\n \n
2,Soumission,£50.10,One,\n\n \n In stock\n \n
3,Sharp Objects,£47.82,Four,\n\n \n In stock\n \n
4,Sapiens: A Brief History ...,£54.23,Five,\n\n \n In stock\n \n

# EXPLORIG THE DATA

In [95]:
df["Stock"].unique()

array(['\n\n    \n        In stock\n    \n'], dtype=object)

In [99]:
df["Rating"].value_counts()

Rating
One      15
Five     14
Three    13
Four     10
Two       8
Name: count, dtype: int64

## DATA CLEANING

In [100]:
# Clean the stock column to remove spacing 
for i in df.Stock:
    print(i.)

        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock





        In stock